<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xqlh.heartsmart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 许可振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 打开闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 许可使用照相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 许可调用相机硬件 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 许可调用相机自动对焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Main -->
        <activity android:name=".MainActivity" />

        <!-- 引导页面 -->
        <activity android:name=".ui.guide.activity.GuideActivity" />

        <!-- 欢迎页面 -->
        <activity android:name=".ui.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.ui.LoginActivity" />
        <activity android:name=".ui.login.ui.RetrievePasswordActivity" />
        <activity android:name=".ui.login.ui.BindPhoneActivity" />
        <activity android:name=".ui.product.ui.ProductDetailActivity" />
        <activity android:name=".ui.mine.ui.MineActivity" />

        <!-- 头像上传功能 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.mine.ui.SettingActivity" />
        <activity android:name=".ui.mine.ui.UpdateUserInforActivity" />
        <activity android:name=".ui.login.ui.UpdatePasswordActivity" />
        <activity android:name=".ui.home.ui.ArticleHomeActivity" />
        <activity android:name=".ui.home.ui.ArticleDetailActivity" />
        <activity android:name=".ui.home.ui.ArticleChannelActivity" />
        <activity android:name=".ui.home.ui.ArticleCategoryActivity" />
        <activity android:name=".ui.equipment.ui.EquipmentReportCategoryActivity" />
        <activity android:name=".ui.equipment.ui.EquipmentReportDetailActivity" />
        <activity android:name=".ui.appraisal.ui.AppraisalIntroduceActivity" />
        <activity android:name=".ui.appraisal.ui.AppraisalCategoryActivity" />
        <activity android:name=".ui.appraisal.ui.AppraisalActivity" />
        <activity android:name=".ui.appraisal.ui.AppraisalReportActivity" />
        <activity android:name=".ui.mine.ui.UndoneAppraisalActivity" />
        <activity android:name=".ui.appraisal.ui.AppraisalInstructionActivity" />
        <activity android:name=".ui.appraisal.ui.AppraisalUndoneActivity" />
        <activity android:name=".ui.mine.ui.UserReportCategoryActivity" />
        <activity android:name=".ui.mine.ui.CollectActivity" />
        <activity android:name=".ui.appraisal.ui.SearchActivity" />
        <activity android:name=".ui.appraisal.ui.CompleteUserInforActivity" />
        <activity android:name=".ui.mine.ui.AppraisalUserReportActivity" />
        <activity android:name=".ui.mine.ui.HairBandActivity"></activity>
    </application>

</manifest>